@import '../../common/variables.less';

.contacts-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;


  &__mode-work {
    font-weight: normal;
    font-size: 12px;
  }
  
  &__fone-number {
    font-weight: bold;
    font-size: 14px;
    
    @media @min-1360 {
      font-size: 16px;
    }
  }
  
  &__email {
  
    span {
      text-decoration: underline;
    }
  }
}