@import '../../common/variables.less';

.footer {
    background: #F0F9F7;

    h5 {
        font-size: 14px;
        font-weight: 700;
        line-height: 24px;
        text-transform: uppercase;
        margin-bottom: 13px;
        
        @media @min-768 {
            font-size: 12px;
        }
        @media @min-1024 {
            font-size: 14px;
        }
    }

    h6 {
        font-size: 12px;
        line-height: 18px;
        font-weight: 600;
        margin-bottom: 15px;
        
        @media @min-768 {
            font-size: 10px;
        }
        @media @min-1024 {
            font-size: 12px;
        }
    }

    ul {
        line-height: 34px;
        list-style: none;

        padding: 0;
        margin: 0;

        a {
            font-size: 13px;
            text-decoration: none;

            &:hover,
            &:focus {
                text-decoration: underline;
            }
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        padding-top: 47px;
        padding-bottom: 40px;
        justify-content: space-between;
        
        
        @media @min-400 {
            flex-direction: row;
            flex-wrap: wrap;

        }
        @media @min-768 {
            // flex-direction: row;
        }
        @media @min-1024 {
            flex-wrap: nowrap;
            padding-top: 77px;
            padding-bottom: 70px;
        }
    }

    &__col {
        flex-shrink: 0;
        width: 100%;
        margin-top: 20px;
        text-align: center;
        
        @media @min-400 {
            width: 45%;
            text-align: initial;
        }
        @media @min-768 {
            width: 30%;
            margin-top: 30px;
        }
        @media @min-1024 {
            width: 16%;
            flex-wrap: nowrap;
            margin-top: 0;
        }
    }

    &__caption {
        color: #B4B4B4;
        font-size: 12px;
        margin-top: 23px;
        margin-bottom: 3px;
    }

    &__phone {
        font-size: 16px;
        line-height: 28px;
        font-weight: 700;

        @media @min-768 {
            font-size: 12px;
        }
        @media @min-1024 {
            font-size: 16px;
        }
    }

    &__email {
        font-size: 12px;
        line-height: 28px;
        font-weight: 600;
        text-decoration: underline;

        margin-bottom: 24px;
    }

    &__message {
        font-size: 12px;
        line-height: 18px;
        text-decoration: underline;

        margin-bottom: 34px;

        &:before {
            content: '';
            display: inline-block;
            background: no-repeat url('/assets/static/mail.svg') center center;
            margin-right: 10px;
            height: 11px;
            width: 14px;
        }
    }

    &__phone,
    &__email,
    &__message {
        display: block;
    }

    &__social {

        &-icons {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            @media @min-768 {
              }

            a {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #DDF1ED;
                border-radius: 50%;
                height: 34px;
                width: 34px;

                & + a {
                    margin-left: 8px;
                }
            }

        }
    }

    &__pay {
        font-size: 12px;
        line-height: 18px;

        &:before {
            content: '';
            display: block;
            background: no-repeat url('/assets/static/logo_pay.png') center center;
            background-size: contain;
            height: 30px;
            width: 100%;
            margin-bottom: 18px;

            @media @min-400 {
                background-position: left center;
            }
        }
    }

    &__policy {
        display: block;
        text-decoration: underline;
        margin-top: 63px;
    }

    &__bottom {
        background: #009B77;
        padding: 17px 0 12px;

        .wrapper {
            display: flex;
            justify-content: space-between;
        }

        &-item {
            color: #fff;
            font-size: 13px;
            line-height: 34px;

            a {
                text-decoration: underline;
            }
        }
    }
}
