@import '../../common/variables.less';

.user-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &__account {
    width: 20px;
    height: 20px;
  }
  &__chart {
    width: 19px;
    height: 18px;
  }
  &__liked {
    width: 33px;
    height: 25px;
  }
  &__basket {
    width: 28px;
    height: 25px;
  }

}