@import '../../common/variables.less';

.user-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &__account {
    width: 20px;
    height: 20px;
    margin-right: 36px;
    background: no-repeat url('./img/account.svg') center center;
  }
  &__chart {
    width: 19px;
    height: 18px;
    margin-right: 30px;
    background: no-repeat url('./img/graph.svg') center center;
  }
  &__liked {
    width: 33px;
    height: 25px;
    background: no-repeat url('./img/Vector.svg') center center;
    margin-right: 20px;
  }
  &__basket {
    width: 28px;
    height: 25px;
    background: no-repeat url('./img/basket.svg') center center;
  }

}